version: '3'
services:
  unbound:
    image: secns/unbound:1.13.1
    ports:
      - "53:53/udp"
      - "53:53/tcp"
    volumes:
      - ./data/unbound:/usr/local/etc/unbound/conf.d
    networks:
      docker-network:
        ipv4_address: 172.28.1.1

  cas:
    image: cas
    build: .
    volumes:
      - ./etc/cas/config/cas.properties:/etc/cas/config/cas.properties
      - ./etc/cas/services:/etc/cas/services
      - ./etc/cas/templates:/etc/cas/templates
      - ./etc/cas/static:/etc/cas/static
    dns: 172.28.1.1
    extra_hosts:
      - "adapei69-siege.local:185.75.141.114"
      - "allo.dev:37.61.245.26"
    # entrypoint: sh
    ports:
      - "8080:8080"
    networks:
      docker-network:
        ipv4_address: 172.28.1.2

  nginx:
    image: nginx:1.15-alpine
    restart: unless-stopped
    volumes:
      - ./data/nginx:/etc/nginx/conf.d
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
      - /data/drupal:/var/www/drupal
    ports:
      - "80:80"
      - "443:443"
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
    networks:
      docker-network:
        ipv4_address: 172.28.1.3

  certbot:
    image: certbot/certbot
    restart: unless-stopped
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    networks:
      docker-network:
        ipv4_address: 172.28.1.4

  drupal:
    image: adapei-drupal
    build: /data/drupal/public
    volumes:
      - /data/drupal:/var/www/drupal
    dns: 172.28.1.1
    networks:
      docker-network:
        ipv4_address: 172.28.1.5

  mariadb:
    image: mariadb:10.4
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: sully
    volumes:
      - ./data/mariadb/conf.d:/etc/mysql/conf.d
      - /data/drupal/db:/var/lib/mysql
    networks:
      docker-network:
        ipv4_address: 172.28.1.6

networks:
  docker-network:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16
