<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Header Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>
<body>
<header th:fragment="header" role="banner">
    <nav>
        <div class='logo-adapei'>
            <img class='logo-adapei__img' src='./img/logo.png'>
        </div>
        <div class='title-adapei'>
            L'intranet de l'Adapei&#8239;69
        </div>
    </nav>
</header>
</body>
</html>
